*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

.grid{
    width: 1500px;
    display: grid;
    grid-template-columns:repeat(24,60px);
    grid-template-rows:repeat(24,60px);
}

.img1{
    width: 200px;
    height: 300px;
    grid-column:19/22;
    grid-row: 2/5;
}
.img3{
    width: 200px;
    height: 300px;
    grid-column:11/14 ;
    grid-row: 2/5;

}
.img2{
    width: 200px;
    height: 300px;
    grid-column:4/7 ;
    grid-row:2/5 ;
}
.img4{
    width: 200px;
    height: 300px;
    grid-column: 4/7;
    grid-row: 10/14;
}
.img5{
    width: 200px;
    height: 300px;
    grid-column:11/14 ;
    grid-row:10/14 ;
}

.img6{
    width: 260px;
    height: 430px;
    padding-bottom:40px;
    padding-bottom: 60px;
    grid-column:18/22 ;
    grid-row:10/13;
}

.esteban1{
    font-size: 50px;
    grid-column:4/7 ;
    grid-row:7/8 ;
    color:rgb(41, 201, 179);
}

.claudia1{
    font-size: 50px;
    grid-column:19/22 ;
    grid-row:7/8 ;
    color:rgb(41, 201, 179);
}
.hendrik1{
    font-size: 50px;
    grid-column:4/7 ;
    grid-row:15/16 ;
    color:rgb(41, 201, 179);
}
.fernanda1{
    font-size: 50px;
    grid-column:11/14 ;
    grid-row:7/8 ;
    color:rgb(41, 201, 179);
}
.luis1{
    font-size: 50px;
    padding-left: 40px;
    grid-column:19/22 ;
    grid-row:15/16;
    color:rgb(41, 201, 179);
}
.johan1{
    font-size: 50px;
    padding-left: 20px;
    grid-column:11/14 ;
    grid-row:15/16 ;
    color:rgb(41, 201, 179);
}
